body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    background-image: url('pasture.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-color: #00B386;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    padding: 25px;
    font: Georgia, serif;
    line-height: 40%;
    text-indent: 1em;
}

h2 {
    color: rgb(0, 100, 0);
    font: Georgia, serif;
}

dt {
    color:rgb(0, 100, 0)
}

.nav {
    background-color: rgb(168, 255, 168);
    padding: 10px;
    font-weight: bold;
}

.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.main-content {
    padding: 20px;
}

ul {
  margin: 0 0 0 32px;
  line-height: 1;
}

.b1 {
  list-style-image: url(marker.gif);
}

.b2 {
  list-style-image: url(marker.gif);
}

.b3 {
  list-style-image: url(marker.gif);
}

.information {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    size: 75%;
    font: Georgia, serif;
}